In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#The file names
file_predicted = "../insight_testsuite/tests/test_2/input/predicted.txt"
file_actual = "../insight_testsuite/tests/test_2/input/actual.txt"
file_window = "../insight_testsuite/tests/test_2/input/window.txt"

In [3]:
def parse_data(filename, names=['hour', 'stock_id', 'predicted']):
    
    df = pd.read_csv(filename, sep="|", header=None, names=names)
    df.sort_values(by=['hour','stock_id'])
    
    col = [str(hour)+stock_id for hour,stock_id in zip(list(df['hour']), list(df['stock_id']))]
    df.index = col
    
    return df

In [4]:
predicted = parse_data(file_predicted)
predicted.head()

         hour stock_id  predicted
1AMDDPW     1   AMDDPW      23.46
1CCKENL     1   CCKENL      25.27
1NELVVI     1   NELVVI      22.41
1LWZQMJ     1   LWZQMJ      19.14
1ZMGTBK     1   ZMGTBK      23.39

In [5]:
actual = parse_data(file_actual, names=['hour', 'stock_id', 'actual'])
actual.head()

         hour stock_id  actual
1EDMMCA     1   EDMMCA   25.80
1AMDDPW     1   AMDDPW   23.46
1YZSGPL     1   YZSGPL   21.49
1CCKENL     1   CCKENL   25.27
1NELVVI     1   NELVVI   22.41

In [6]:
window = int(open(file_window,"r").readlines()[0])
print(window)

4

In [18]:
sub = actual.loc[predicted.index] 
print(sub.shape, actual.shape, predicted.shape)
#print(sub.actual == predicted.predicted)
print(sum(sub.index != predicted.index))
sub.head()

(114194, 3) (142560, 3) (114194, 3)
0

         hour stock_id  actual
1AMDDPW     1   AMDDPW   23.46
1CCKENL     1   CCKENL   25.27
1NELVVI     1   NELVVI   22.41
1LWZQMJ     1   LWZQMJ   19.14
1ZMGTBK     1   ZMGTBK   23.39

In [10]:
merged_result = pd.merge(actual, predicted, on=['hour', 'stock_id']) 
print(merged_result.shape)
merged_result.head()

(114194, 4)

   hour stock_id  actual  predicted
0     1   AMDDPW   23.46      23.46
1     1   CCKENL   25.27      25.27
2     1   NELVVI   22.41      22.41
3     1   LWZQMJ   19.14      19.14
4     1   ZMGTBK   23.39      23.39

In [11]:
#get maximum time
min_time = min(sub.hour)
max_time = max(sub.hour)
print(min_time, max_time)

1 1440

In [ ]:
def get_err(df):
    
    min_time = df.iloc[df.index[0]].hour
    max_time = df.iloc[df.index[-1]].hour
    window = 2
    
    results = {}
    for time in range(min_time, (max_time-window+1)+1):
        
        end_time = time + window - 1
        ibool = (df['hour'] >= time) & (df['hour'] <= end_time)
        idf = df[ibool]
        err = abs(idf['actual']-idf['predicted']).mean()
        
        results[time] = [time, end_time, err]
        
    results = pd.DataFrame(results).T
    results.columns = ['start_hour', 'end_hour', 'error']
    
    return results

results = get_err(merged_result)

In [ ]:
results['start_hour'] = results['start_hour'].map(lambda x: '%d'%(x)) 
results['end_hour'] = results['end_hour'].map(lambda x: '%d'%(x))
pd.DataFrame(results).to_csv('../comparison1.txt', sep='|', index=False, header=False, float_format='%3.2f')